<html>
    <body>
    <p>
        <br>
        <br>
        <br>
        <br>
    </p>
    <h1>{{ 'Hello!'|trans }}</h1>
    <p>{% trans %}traduction.phrase{% endtrans %}</p>
    <p>{{ 'By'|trans({'%name%':name}) }}</p>
    <p>{{ texte }}</p>
    </body>
</html>